[submodule "libigl/libigl"]
	path = libigl/libigl
	url = git@github.com:libigl/libigl.git
[submodule "cgal/cgal"]
	path = cgal/cgal
	url = git@github.com:CGAL/cgal.git
[submodule "cork/cork"]
	path = cork/cork
	url = git@github.com:gilbo/cork.git
